<head>
</head>
<body class="bg-dark" onload=getData()>
    <h1 class="H2"> HOME</h1>

    <div class="container-sm my-2">
        <%= image_tag 'coffee_mug.jpg' %>
        <p class="imgTxt">Image of Dean McCoppin from The Iron Giant</p>
    </div>
    <div class="container-sm my-5">
        <label for="tInput" class="List">Insert Text</label><br>
        <input type="text" class="txtInput" id="tInput">
        <button type="button" class="btn btn-success" onclick="mybuttonT()">DISPLAY</button>
        <p class="ending cent" id="textholder"></p>
    </div>
    <div class="container-sm">
        <div class="accordion accordion-flush p-5" id="topNews">
            <h1 class="H1"><span class="badge text-bg-secondary">TOP NEWS</span></h1>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header H1" id="News1">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    #1 News
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsOneTitle">...</p></div>
                  <div class="accordion-body">Source<p id="newsOneAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsOneDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                    #2 News
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsTwoTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsTwoAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsTwoDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                    #3 News
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsThreeTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsThreeAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsThreeDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                    #4 News
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsFourTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsFourAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsFourDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
                    #5 News
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsFiveTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsFiveAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsFiveDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseOne">
                    #6 News
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsSixTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsSixAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsSixDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseOne">
                    #7 News
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsSevenTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsSevenAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsSevenDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseOne">
                    #8 News
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsEightTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsEightAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsEightDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseOne">
                    #9 News
                  </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsNineTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsNineAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsNineDescription"></p></div>
                </div>
            </div>
            <div class="accordion-item bg-warning-subtle">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bg-danger-subtle border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseOne">
                    #10 News
                  </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#topNews">
                  <div class="accordion-body">Title<p id="newsTenTitle"></p></div>
                  <div class="accordion-body">Source<p id="newsTenAuthor"></p></div>
                  <div class="accordion-body">Description<p id="newsTenDescription"></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p class="ending">You've reached the end! Have a <a href="https://en.wikipedia.org/wiki/Pwyll_Pendefig_Dyfed">link</a>. It's on the house.</p>
    </div>
</body>