<head>
</head>
<body class="bg-dark">
<h1 class="H1">HOME</h1>

<div class="container-sm my-2">
    <%= image_tag 'coffee_mug.jpg' %>
    <p class="imgTxt">Image of Dean McCoppin from The Iron Giant</p>
</div>
</body>