<div class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-info rounded-1">
              <li class="nav-item">
                <a class="nav-link active border border-success" aria-current="page" href="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active border border-success" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active border border-success" href="contact">Contact</a>
            </ul>
          </div>
        </div>
      </nav>
    </div>